<a href="https://colab.research.google.com/github/ViniciusFebasse/Preco-das-Casas/blob/main/Pre%C3%A7o_das_Casas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [630]:
import pandas as pd
import numpy as np

In [631]:
df_train = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Preço das casas/train.csv")

In [632]:
df_train.head(2)

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500

[2 rows x 81 columns]

In [633]:
df_train.shape

(1460, 81)

In [634]:
df_test = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Preço das casas/test.csv")

In [635]:
df_test.head(2)

     Id  MSSubClass MSZoning  ...  YrSold  SaleType SaleCondition
0  1461          20       RH  ...    2010        WD        Normal
1  1462          20       RL  ...    2010        WD        Normal

[2 rows x 80 columns]

In [636]:
df_test.shape

(1459, 80)

In [637]:
df_sample = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Preço das casas/sample_submission.csv")

In [638]:
df_sample.head(2)

     Id      SalePrice
0  1461  169277.052498
1  1462  187758.393989

In [639]:
df_sample.shape

(1459, 2)

In [640]:
# Caso se queira usar a função com o fit_transform passe o parâmetro como 0 e se for como transform passe o parâmetro 1
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler, OneHotEncoder
label = LabelEncoder()
minmax = MinMaxScaler()
onehot = OneHotEncoder(sparse=False, drop='first', handle_unknown='ignore')

def preprocessamento(dataframe, fit_trans):
  
  data = None

  # Exclusão do Id
  dataframe.drop('Id', axis=1, inplace=True)

  # Exclusão de colunas com poucos registros
  dataframe.drop('Alley', axis=1, inplace=True)
  dataframe.drop('FireplaceQu', axis=1, inplace=True)
  dataframe.drop('PoolQC', axis=1, inplace=True)
  dataframe.drop('MiscFeature', axis=1, inplace=True)
  dataframe.drop('Fence', axis=1, inplace=True)

  # Exclusão de registros faltantes
  dataframe.dropna(axis=0, how='any', inplace=True)

  # Separação de features e classes
  if fit_trans == 0:
    X = dataframe.drop('SalePrice', axis=1)
    y = dataframe['SalePrice']

  else:
    X = dataframe
  
  # Separação entre dados categóricos e numéricos
  X_cat = X.select_dtypes(include='object')
  X_num = X.select_dtypes(exclude='object')

  # Codificação das features categóricas
  #fit_trans if fit_trans == 0 else transform
  if fit_trans == 0:
    X_cat = onehot.fit_transform(X_cat)
  else:
    X_cat = onehot.transform(X_cat)

  # Escalonamento de todas as variáveis
  if fit_trans == 0:
    X_num = minmax.fit_transform(X_num)
  else:
    X_num = minmax.transform(X_num)

  # Definindo o X completo
  X_comp = np.concatenate((X_cat, X_num), axis=1)

  # Separação em conjuntos de treino e teste
  if fit_trans == 0:
    X_treino, X_teste, y_treino, y_teste = train_test_split(X_comp, y)
  else:
    X_treino, X_teste, y_treino, y_teste = None, None, None, None

  # Retorno dos resultados
  return X_treino, X_teste, y_treino, y_teste, X_comp

X_train, X_test, y_train, y_test, _ = preprocessamento(df_train, 0)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(820, 221) (274, 221) (820,) (274,)

Criação do Modelo de Machine Learning

In [641]:
from sklearn.neural_network import MLPRegressor

neural = MLPRegressor(max_iter=10000, solver='adam', activation='relu', hidden_layer_sizes=(100, 100, 100), tol=0.0001, random_state=0)

neural = MLPRegressor(max_iter=10000, solver='adam', activation='relu', hidden_layer_sizes=(100, 100, 100), tol=0.0001)
-> 87.02%

In [642]:
neural.fit(X_train, y_train)

MLPRegressor(hidden_layer_sizes=(100, 100, 100), max_iter=10000, random_state=0)

In [643]:
predicao = neural.predict(X_test)

Métricas

In [644]:
escore = neural.score(X_test, y_test)

In [645]:
print(f'{np.around(escore * 100, 2)}%')

81.96%

In [646]:
from sklearn.metrics import mean_absolute_error

mae = mean_absolute_error(y_test, predicao)
print(f'$ {np.around(mae, 2)}')

$ 18890.2

Previsão dos dados novos

In [647]:
df_test = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Preço das casas/test.csv")

In [648]:
df_test.head(2)

     Id  MSSubClass MSZoning  ...  YrSold  SaleType SaleCondition
0  1461          20       RH  ...    2010        WD        Normal
1  1462          20       RL  ...    2010        WD        Normal

[2 rows x 80 columns]

In [649]:
df_test.drop(df_test[df_test.MSZoning == 'RH'].index, axis=0, inplace=True)
df_test.drop(df_test[df_test.MSZoning == 'RL'].index, axis=0, inplace=True)
df_test.drop(df_test[df_test.MSZoning == 'RM'].index, axis=0, inplace=True)
df_test.drop(df_test[df_test.MSZoning == 'FV'].index, axis=0, inplace=True)
#df_test.drop(df_test[df_test.MSZoning == 'C (all)'].index, axis=0, inplace=True)

In [650]:
df_test.head(2)

       Id  MSSubClass MSZoning  ...  YrSold  SaleType SaleCondition
98   1559          70  C (all)  ...    2010        WD       Abnorml
142  1603          30  C (all)  ...    2010        WD        Alloca

[2 rows x 80 columns]

In [651]:
_, _, _, _, X_prever = preprocessamento(df_test, 1)

In [652]:
X_prever.shape

(5, 221)

In [653]:
predicao_nova = neural.predict(X_prever)
np.around(predicao_nova, 2)

array([ 94441.45,  94710.09,  59086.27, 140328.65, 131694.55])